
.todo-block {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: var(--bg-gradient);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid var(--lt-gray-color);;
}

.todo-add-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.select-block {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    margin-bottom: 16px;
}

.todo-list {
    height: 480px;
    overflow: auto;
    margin: 0 0 16px 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--lt-gray-color);;
    border-radius: 4px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.todo-item:last-child {
    margin-bottom: 0;
}


.todo-item-controls-wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    justify-content: space-between;
    width: 104px;
    flex-shrink: 0;
}

.todo-item-controls{
    display: flex;
    align-items: center;
    gap: 8px;
}

.todo-add-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 688px;
    width: 100%;
}

.edit-controls {
    align-self: center;
}

.todo-item-title {
    font-weight: bold;
    padding-bottom: 4px;
    display: inline-flex;
    font-size: 22px;
    border-bottom: 1px solid var(--gray-color);
}

.todo-item-notification {
    width: 100%;
}

.todo-item-time {
    padding-top: 4px;
    border-top: 1px solid var(--gray-color);
    text-align: end;
}

.todo-item-time {
    font-size: 10px;
}

.todo-item-text {
    padding: 16px;
}

@media(max-width: 767px) {
    
    .todo-add-block,
    .todo-item {
        flex-direction: column;
    }

    .todo-add-block button,
    .todo-item-controls-wrap {
        width: 100%;
    }
}