:root {
    --green-color: #4caf52;
    --red-color: #fd2727;
    --white-color: #fff;
    --black-color: #000;
    --dark-color: #333;
    --gray-color: #d3d3d3;
    --lt-gray-color: #ddd;
    --blue-color: #0056b3;
    --bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.02));
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: clamp(12px, 4vw, 48px);
    color: var(--dark-color);
    transition: 0.3s ease;
}

ul {
    list-style-type: none;
    padding: unset;
}

h2 {
    text-align: center;
    font-size: clamp(24px, 4vw, 40px);
    margin: 0 0 clamp(24px, 4vw, 40px) 0;
}

h1, h2 {
    font-weight: 900;
}

body.dark-theme {
    background-color: #333;
    --white-color: #333;
    --dark-color: #fff; 
    --lt-gray-color: #000;
    --blue-color: gray;
    --bg-gradient: gray;

    .todo-block,
    .timer-block  {
        background: linear-gradient(rgba(255, 255, 255, 0.082), rgba(255, 255, 255, 0.082));
        background-color: #121212;
    }
    
    .save-btn,
    .cancel-btn,
    .check-all,
    .delete-btn,
    .btn-clear,
    .add-btn {
        background-color: #000;
        color: #fff;
    }

    button,
    .todo-input,
    .todo-input::placeholder {
        color: #fff;
    }

    .btn {
        border-color: #fff;
    }

    .todo-item {
        background: rgba(255, 255, 255, 0.1);
    }

    .check-bg {
        background: rgba(255, 255, 255, 0.3);
    }

    .weather-btn,
    .todo-input {
        background: gray;
    }
    
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

button {
    display: block;
    line-height: 1;
    user-select: none;
    
    &:hover {
        box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
    }
}

input,
textarea,
button  {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
